body {
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.navbar-dark .navbar-nav .nav-link:hover {
  color:rgba(255, 0, 0, 0.723);
  transition: 0.1s; 
  text-align: center;
  transform: scale(1.2);
  transition: all 0.1s linear 0.1s;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  padding-left:10px;
  padding-right: 15px;
  
}
.navbar-dark .navbar-nav .nav-link:active {
color: rgb(68, 0, 255);
}
.navbar-dark {
  padding: 0px;
}
nav {
  background-color:rgba(0, 0, 0, 0.383);
  /* border-bottom: 0.1px solid rgb(230, 0, 255); */

}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(230, 0, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo{
 border-radius: 50%;
 border: 1px solid rgb(255, 255, 255); padding: 0px;
 margin-bottom: 10px;
 margin-top: 10px;
 margin-right: 4px;
 margin-left: 14px;
}


.navbar-dark .nav-link {
  font-size: larger;
  color: rgb(255, 0, 0);
  text-align: center;
}
.nav-link:hover {
  color: rgb(255, 0, 0);

}



/* .d-inline-block {
    border-radius: 20%;
    transition: all 0.5s linear 0.1s;
    border: 0.5px solid rgb(255, 255, 255); padding: 1px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 3px 3px rgb(241, 151, 151);
    
}
 */

.nav-title {
  font-style: oblique;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(to left, #ff0000, #f9e0a1 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  margin-right:1%;
}
.nav-title:hover {
  color: rgb(255, 255, 255);
}


.dropdown-item {
  /* background-color:rgb(5, 231, 227); */
  color: #a4a1a1;
}

.show {
  background-color:rgba(0, 0, 0, 0);


}


.dropdown-item:hover {
  background-color:rgba(5, 231, 227, 0);
  color: rgb(255, 0, 0);
}

.btn{
margin: 4px;

}


/* .log:hover {
  transition: 0.3s; 
  text-align: center;
  transform: scale(1.2);

  border-radius: 9%;
  transition: all 0.1s linear 0.1s;
  border: 0.5px solid rgb(255, 255, 255); padding: 1px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 3px 3px rgb(241, 151, 151);
} */
